html{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* MAIN PAGE */

h1.main{
  margin-top: 2%;
  color:rgba(65, 65, 183, 0.882);
  text-align: center;
  text-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 8;
  animation-name: head-animation;
  animation-duration: 1000ms;
}
@keyframes head-animation {
  from{
      transform: translateY(+500px);
  }
  to{
      transform: translateX(0);
  }
}

div.card.main{
  position: absolute;
  width: 80%;
  height: 70%;
  padding-top: 0;
  padding-bottom: 0;
  /* top: 67.5px; */
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  border: 5px solid rgba(65, 65, 183, 0.882);
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

footer.card.main{
  position: absolute;
  bottom: 0;
  height: 8%;   
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px solid rgba(65, 65, 183, 0.882);
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

.sidebar{
  width: 25%;
  height: 100%;
  padding: 10px;
  background-color: #44444ac4;
  color: #ffffff;
  animation-name: bar-animation;
  animation-duration: 1000ms;
}
@keyframes bar-animation {
  from{
      transform: translateX(-500px);
  }
  to{
      transform: translateY(+0);
  }
}

button.btn.btn-outline-light.side{
  border-radius: 20px;
}
button.btn.btn-outline-light.side:hover{
  background-color: rgba(65, 65, 183, 0.882);
  color: white;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: rgb(227, 14, 14);
}

svg.icon{
  width: 50%;
  height: 100%;
  animation-name: fall-animation;
  animation-duration: 1000ms;
}
@keyframes fall-animation {
  from{
      transform: translateX(500px);
  }
  to{
      transform: translateY(0);
  }
}
