html{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* MAIN PAGE */

h1.main{
  margin-top: 2%;
  background-color:rgba(65, 65, 183, 0.882);
  color: rgb(210, 208, 208);
  text-align: center;
  text-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 8;
  animation-name: head-animation;
  animation-duration: 1000ms;
}
@keyframes head-animation {
  from{
      transform: translateY(+500px);
  }
  to{
      transform: translateX(0);
  }
}

div.card.main{
  position: absolute;
  width: 80%;
  height: 70%;
  padding-top: 0;
  padding-bottom: 0;
  /* top: 67.5px; */
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: linear-gradient(to right, #F5F7FA, #c4d3e9);
  border: 5px solid rgba(65, 65, 183, 0.882);
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

footer.card.main{
  position: absolute;
  bottom: 0;
  height: 8%;   
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px solid rgba(65, 65, 183, 0.882);
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
  background-image: linear-gradient(to left, #F5F7FA, #c4d3e9);
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar{
  width: 25%;
  height: 100%;
  padding: 10px;
  background-color: #44444ac4;
  color: #ffffff;
  animation-name: bar-animation;
  animation-duration: 1000ms;
}
@keyframes bar-animation {
  from{
      transform: translateX(-500px);
  }
  to{
      transform: translateY(+0);
  }
}

button.btn.btn-outline-light.side{
  border-radius: 25px;
  border: 3px solid rgb(59, 59, 59);
  background-image: linear-gradient(to left, #F5F7FA, #c4d3e9);
  color: rgba(65, 65, 183, 0.882);
}
button.btn.btn-outline-light.side:hover{
  background-image: linear-gradient(to right, #F5F7FA, #c4d3e9);
  color: rgb(73, 88, 108);
  border: 3px solid rgba(65, 65, 183, 0.882);
  z-index: 25;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
}


a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: rgba(65, 65, 183, 0.882);
}

svg.icon{
  width: 75%;
  height: 100%;
  animation-name: fall-animation;
  animation-duration: 1000ms;
}
@keyframes fall-animation {
  from{
      transform: translateX(500px);
  }
  to{
      transform: translateY(0);
  }
}

div.card.code{
  width: 60%;
  display: inline-block;
  position: absolute;
  right: 5%;
  margin-top: 5%;
  border: 5px solid rgba(65, 65, 183, 0.882);
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
  background-image: linear-gradient(to left, #F5F7FA, #c4d3e9);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: code-animation;
  animation-duration: 1000ms;
}
@keyframes code-animation {
  from{
      transform: translateX(500px);
  }
  to{
      transform: translateY(0);
  }
}

img#code{
  width: 100%;
  max-width: 400px;
}
div.card.code{
  
  max-height: 90%;
}