img.img-thumbnail{
    display:block;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
a#pro-link{
    text-align: center;
}

div.card.det{
    padding: 20px;
}
button.btn.btn-outline-danger.pro-back{
    margin-right: 40%;
    margin-left: 40%;
}
div.card.pro{
    background-image: linear-gradient(to left, #F5F7FA, #acb4c0);
    opacity: 90%;
}