div.res{
    display:flex;
}
div.res-card{
  position: absolute;
  width: 80%;
  height: 51em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: linear-gradient(to right, #F5F7FA, #d3deee);
  border: 5px solid rgba(65, 65, 183, 0.882);
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
  animation-name: ressht-animation;
  animation-duration: 1000ms;
}
@keyframes ressht-animation {
  from{
      transform: translateX(500px);
  }
  to{
      transform: translateY(0);
  }
}
object#resume{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    animation-name: res-animation;
    animation-duration: 1000ms;
}
@keyframes res-animation {
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateY(0);
    }
}
div.card.res-head{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-image: linear-gradient(to left, #F5F7FA, #6d737b);
    animation-name: reshead-animation;
    animation-duration: 1000ms;
}
@keyframes reshead-animation {
    from{
        transform: translateY(-500px);
    }
    to{
        transform: translateX(0);
    }
}
h1#r{
    color: rgba(65, 65, 183, 0.882);
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
}
div.row.res-one{
    margin-top: 2%;
    border: 2px solid black;
}
div.row.res-two{
    margin-top: 2%;
    border: 2px solid black;
}
div.row.res-three{
    margin-top: 2%;
    border: 2px solid black;
}
button.btn.btn-outline.back{
    width: 80%;
    font-family: 'Bubblegum Sans', cursive;
    margin-right: 10%;
    margin-left: 10%;
    background-image: linear-gradient(to right, #F5F7FA, #d3deee);
    border: 5px solid rgba(65, 65, 183, 0.882);
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
}
button.btn.btn-outline.back:hover{
    width: 80%;
    font-family: 'Bubblegum Sans', cursive;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
    background-image: linear-gradient(to right, #7b7e81, #839ec6);
    border: 5px solid rgba(97, 97, 108, 0.882);
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
}